<h3>JobMate</h3>

<p>User Actions:</p>
<ul>
    <li>Search for jobs: </li>

        <%= button_to 'Search', search_postings_path, method: :get %>

    <li>View/Edit Profile: </li>

        <%= button_to 'Profile', user_path(current_user), method: :get %>

    <li>Access Saved Postings: </li>

        <%= button_to 'Postings', saved_postings_path, method: :get %>
</ul>

<h3>JobMate</h3>

<%= render 'stats' %>

<p>Logout:</p>
  <%= form_tag delete_session_path, ({controller: 'sessions', action: 'destroy', method: 'delete'}) do %>
    <input type=submit value='logout'>
  <% end %>