<%= form_with scope: :session, url: new_session_path do |f| %>

    <div class="form-label-group">
    <%= f.label :username, hidden: true %>
    <%= f.text_field :username, placeholder: "Username", class: "form-control" %> 
    </div>

    <div class="form-label-group">
    <%= f.label :password, hidden: true %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    </div>

    <div class="form-label-group">
    <%= f.label :password_confirmation, hidden: true %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
    </div>

    <%= f.submit "Log in", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"%>

<% end %>