<h3><%="#{@_current_user.username}"%></h3>


    Change Username/Password:
    <%= button_to 'Edit User Information', edit_user_path, method: :get %>
    <br>

    View/Edit Favorite Job Categories:
    <%= button_to 'Job Categories', choose_categories_path, method: :get %>
    <br>

    <p>View/Edit Favorite Companies</p>
    <%= button_to 'Favorite Companies', companies_path, method: :get %>
    <br>

    Return to home page:
    <%= button_to 'Homepage', root_path, method: :get %>
