<h3><%="#{current_user.username}"%></h3>

    Change Username/Password:
    <%= button_to 'Edit User Information', edit_user_path, method: :get %>
    <br>

    View/Edit Category:
    <%= button_to 'Category', choose_category_path, method: :get %>
    <br>

    View/Edit Favorite Companies:
    <%= button_to 'Favorite Companies', companies_path, method: :get %>
    <br>

    Return to home page:
    <%= button_to 'Homepage', root_path, method: :get %>
