<%= render 'search' %>

<br>
<br>

<% if !(@postings_by_category == nil || @postings_by_category == []) %>
  
<!-- Page Content -->
<div class="container">

<!-- Page Heading -->
  <h1 class="my-4">
    <small>Recommended jobs for people with your interests:</small>
  </h1>

 <% if @postings_by_category.first[0] %> 
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[0])%>" target="_blank"><%="#{@postings_by_category.first[0].title}"%></a>
          </h4>
          <% if @postings_by_category.first[0].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[0].experience} of experience"%></p>
          <% end %>
        </div>
      </div>
    </div>
 <% end %>
  <% if @postings_by_category.first[1] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[1])%>" target="_blank"><%="#{@postings_by_category.first[1].title}"%></a>
          </h4>
          <% if @postings_by_category.first[1].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[1].experience} of experience"%></p>
        </div>
            <% end %>
      </div>
    </div>
  <% end %> 
<% if @postings_by_category.first[2] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[2])%>" target="_blank"><%="#{@postings_by_category.first[2].title}"%></a>
          </h4>
        <% if @postings_by_category.first[2].experience %>
          <p class="card-text"><%="#{@postings_by_category.first[2].experience} of experience"%></p>
        <% end %>
        </div>
      </div>
    </div>
<% end %>
<% if @postings_by_category.first[3] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[3])%>" target="_blank"><%="#{@postings_by_category.first[3].title}"%></a>
          </h4>
          <% if @postings_by_category.first[3].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[3].experience} of experience"%></p>
          <% end %>
        </div>
      </div>
    </div>
 <% end %>
 <% if @postings_by_category.first[4] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[4])%>" target="_blank"><%="#{@postings_by_category.first[4].title}"%></a>
          </h4>
          <% if @postings_by_category.first[4].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[4].experience} of experience"%></p>
          <% end %>
        </div>
      </div>
    </div>
 <% end %>
 <% if @postings_by_category.first[5] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[5])%>" target="_blank"><%="#{@postings_by_category.first[5].title}"%></a>
          </h4>
          <% if @postings_by_category.first[5].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[5].experience} of experience"%></p>
          <% end %>
        </div>
      </div>
    </div>
 <% end %>
  <% if @postings_by_category.first[6] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[6])%>" target="_blank"><%="#{@postings_by_category.first[6].title}"%></a>
          </h4>
          <% if @postings_by_category.first[6].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[6].experience} of experience"%></p>
          <% end %>
        </div>
      </div>
    </div>
 <% end %>
  <% if @postings_by_category.first[7] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[7])%>" target="_blank"><%="#{@postings_by_category.first[7].title}"%></a>
          </h4>
          <% if @postings_by_category.first[7].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[7].experience} of experience"%></p>
          <% end %>
        </div>
      </div>
    </div>
 <% end %>
<% if @postings_by_category.first[8] %> 
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="<%= posting_path(@postings_by_category.first[8])%>" target="_blank"><%="#{@postings_by_category.first[8].title}"%></a>
          </h4>
          <% if @postings_by_category.first[8].experience%>
            <p class="card-text"><%="#{@postings_by_category.first[8].experience} of experience"%></p>
          <% end %>
        </div>
      </div>
    </div>
 <% end %>
</div>
  <!-- /.row -->

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>

</div>
<!-- /.container -->

<% end %>
