<!DOCTYPE html>
<html>
  <head>
    <title>JobMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
 
<div id = "wrapper">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
 <div class="container">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">JobMate</a>

  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link ", role: "button" %>
        </li>
      </ul>

    <%= form_tag(display_postings_path, method: 'get') do %>
        <input type="text" id="search" name="posting[keyword]">
        <%= submit_tag "Search", class: 'navbar-search-icon', :name => nil %>
    <% end %>
    
      <ul class="navbar-nav ml-auto">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
              </a>
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                  <%= link_to "Postings", saved_postings_path, class: "dropdown-item" %>
                  <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Sign Out", delete_session_path, class: "dropdown-item", method: :delete %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </nav>
  <body>

  <section class="py-5">
  <div class="container">
  <br><br><br>
   <%= yield %>

</div>
</section>

   

  </body>
</html>
