<!DOCTYPE html>
<html>
  <head>
    <title>JobMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id = "wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        </ul>
          <div class="container">


    <%= form_tag(display_postings_path, method: 'get') do %>
        <input type="text" id="search" name="posting[keyword]">
        <%= submit_tag "Search", class: 'navbar-toggler-icon', :name => nil %>
    <% end %>

    <a class="topnav" href>
          <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      <ul class="navbar-nav ml-auto">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
              </a>
                <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                  <%= link_to "Postings", saved_postings_path, class: "dropdown-item" %>
                  <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Sign Out", delete_session_path, class: "dropdown-item", method: :delete %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </nav>
  </div>

    <%= yield %>

  </body>
</html>
